body {
	margin: 10px;
	width: 300px;
	font-size: 16px;
}

h1 {
	font-size: 24px;
}

button {
	border-radius: 4px;
}

hr {
	margin: 0;
}

.container {
	margin: 0.5rem 0;
}

.message {
	display: none;
	position: fixed;
	top: 45%;
	left: 50%;
	text-transform: capitalize;
	transform: translate(-50%, -50%);
	background-color: lightseagreen;
	color: white;
	width: 65%;
}

.comment-box {
	position: relative;
}

.comment-box textarea {
	box-sizing: border-box;
	overflow-x: hidden;
	resize: none;
	width: 260px;
}

.comment-box #attachment-action {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
}

.comment-count {
	position: absolute;
	top: 38px;
	right: 2px;
	width: 35px;
	height: 35px;
}

#button-note {
	background: lightslategrey;
}

#button-bug {
	background: lightcoral;
}

#button-clarification {
	background: lightsalmon;
}
