body {
	margin: 10px;
	width: 300px;
	font-size: 16px;
}

h1 {
	font-size: 24px;
}

button {
	border-radius: 4px;
}

hr {
	margin: 0;
}

.container {
	margin: 0.5rem 0;
}

.comment-box {
	position: relative;
}

.comment-box textarea {
	box-sizing: border-box;
	overflow-x: hidden;
	resize: none;
	width: 260px;
}

.comment-box #attachment-action {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
}

.comment-box #attachment-active {
	display: none;
	position: absolute;
	top: 45px;
	right: 10px;
}

#button-note {
	background: lightslategrey;
}

#button-bug {
	background: lightcoral;
}

#button-clarification {
	background: lightsalmon;
}
